.google-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;

}

.google-icon {
  color: #000; /* default icon color */
  font-size: 28px; /* adjust size if needed */
}

.google-btn:hover .google-icon {
  color: skyblue;
}